:root {
    --font-core: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --color-dark: #030303;
    --color-mid: grey;
    --color-light: #fafafa;
    --color-p: #7a7913;
    --baseline: 1.7;
    --vr: calc(var(--baseline) * 1rem);    
}

*, 
:after, 
:before {
  box-sizing: border-box;
  overflow-wrap: break-word; 
}

html {
  line-height: var(--baseline);
  font-size: 1rem; 
  font-family: var(--font-core);
  background-color: var(--color-light);
  color: var(--color-dark);
}

body {
  margin: 0;
}
/**
 * Component Style
 */

.page {
  max-width: 70%;
}

/** 
 * 1. hide the header off the canvas
 */
.header {
  background-color: var(--color-p);
  position: fixed;
  left: -23rem; /* 1. method 1*/
  min-height: 100%;
  min-width: 23rem;
  transition: transform 0.3s ease-out;
  /* transform: translateX(-23rem); 1  method 2*/
  /* margin-left: -23rem; 1 method 3*/
}

.main {
  padding: var(--vr);
  transition: transform 0.3s ease-out;
}



/* Method 1 */

/** 
 * 1. reset the hide 
 * 2. push the main with the same width you gave to side bar offcanvas
 */
.off-canvas-is-open > .header {
   transform: translateX(23rem); /* 1 */
}

.off-canvas-is-open > .main {
   transform: translateX(23rem); /* 2 */
}




/* Method 2 */

/** 
 * 1. reset the hide 
 * 2. push the main with the same width you gave to side bar offcanvas
 */
.off-canvas-is-open > .header {
  /* transform: translateX(0); /* 1 */
}

.off-canvas-is-open > .main {
   /*transform: translateX(23rem); /* 2 */
}





/* Method 3 */
/** 
 * 1. reset the hide 
 * 2. push the main with the same width you gave to side bar offcanvas
 */
.off-canvas-is-open > .header {
  /* margin-left: 0;  1 */
}

.off-canvas-is-open > .main {
   /*margin-left: 23rem; 2 */
}







nav {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

nav a {
  display: block;
  text-decoration: none;
  color: var(--color-light);
  font-size: var(--vr);
  padding: calc(var(--vr) / 4)
}

.menu-button {
  cursor: pointer;
}

.menu-button > * {
  display: block;
  pointer-events: none;
}