:root {
    --font-core: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --color-dark: #030303;
    --color-mid: grey;
    --color-light: #fafafa;
    --color-p: #1a39c0;
    --baseline: 1.7;
    --vr: calc(var(--baseline) * 1rem);    
}

*, 
:after, 
:before {
  box-sizing: border-box;
  overflow-wrap: break-word; 
}

html {
  line-height: var(--baseline);
  font-size: 1rem; 
  font-family: var(--font-core);
  background-color: var(--color-light);
  color: var(--color-dark);
}

/**
 * Component Style
 */

 .modal {
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   /* z-index: -1;  see how opacity only works before this */

   opacity: 0;
   visibility: hidden;
   overflow: auto;
   background-color: rgba(0,0,0,0.5);

   transition-property: opacity,visibility;
   transition-duration: 0.1s, 0s;
   transition-timing-function: cubic-bezier(0.0,0.0,0.2,1);
   transition-delay: 0s, 0.1s;
 }

 .modal__content {
   display: flex;
   justify-content: center;
   align-items: center;
   margin: auto;
   min-height: 100%;
   max-width: 90%;

 }

 .modal-is-open .modal {
  opacity: 1;
  visibility: visible;
  
  transition-timing-function: cubic-bezier(0.4,0.0,1,1);
  transition-delay: 0s,0s;
 }





 /* other just to test the modal */
.post {
   background-color: #fff;
   width: 50%;
   padding: 1.5rem;
}